<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="NC工具"
            visible="true"
            id="PluginEclipse.actionSet">
         <menu
               label="NC工具"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="登录dbvis"
               icon="icons/dbvis_small.png"
               class="com.yonyou.zhaoxmf.PluginEclipse.actions.ConnectToDbvisAction"
               tooltip="登录PL/SQL"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="com.yonyou.zhaoxmf.PluginEclipse.actions.ConnectToDbvisAction">
         </action>
         <action
               label="登录PL/SQL"
               icon="icons/plsql_small.png"
               class="com.yonyou.zhaoxmf.PluginEclipse.actions.ConnectToPLSQLAction"
               tooltip="登录PL/SQL"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="com.yonyou.zhaoxmf.PluginEclipse.actions.ConnectToPLSQLAction">
         </action>
         <action
               label="导入补丁"
               icon="icons/importpatch_small.png"
               class="com.yonyou.zhaoxmf.PluginEclipse.actions.ImportPatchAction"
               tooltip="导入补丁"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="com.yonyou.zhaoxmf.PluginEclipse.actions.ImportPatchAction">
         </action>
         <action
               label="清NC缓存"
               icon="icons/cleancache_small.png"
               class="com.yonyou.zhaoxmf.PluginEclipse.actions.ClearNCCacheAction"
               tooltip="清NC缓存"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="com.yonyou.zhaoxmf.PluginEclipse.actions.ClearNCCacheAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.yonyou.zhaoxmf.PluginEclipse.preferences.SetDataBaseLocationPage"
            id="com.yonyou.zhaoxmf.PluginEclipse.preferences.SetDataBaseLocationPage"
            name="数据库连接软件安装路径">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.yonyou.zhaoxmf.PluginEclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
