<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="NC工具"
            visible="true"
            id="PluginEclipse.actionSet">
         <menu
               label="NC工具"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         
         <action
               label="导入补丁"
               icon="icons/sample.gif"
               class="com.yonyou.zhaoxmf.PluginEclipse.actions.ImportPatchAction"
               tooltip="导入补丁"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="com.yonyou.zhaoxmf.PluginEclipse.actions.ImportPatchAction">
         </action>
         <action
               label="清NC缓存"
               icon="icons/sample.gif"
               class="com.yonyou.zhaoxmf.PluginEclipse.actions.ClearNCCacheAction"
               tooltip="清NC缓存"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="com.yonyou.zhaoxmf.PluginEclipse.actions.ClearNCCacheAction">
         </action>
      </actionSet>
   </extension>

</plugin>
